//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Colfax", Helvetica, Arial, sans-serif;
$font-family-sans-bold: "Colfax-Bold", Helvetica, Arial, sans-serif;
$font-family-content:  "Minion Pro", Helvetica, Arial, sans-serif  ;
$font-size-base:          18px;
$text-color : #606060;
$text-color-heading:  #282828;
$text-color-secodary: #b6b5b5;
$brand-primary:              #46cb7e;
$blockquote-border-color : $brand-primary;
$screen-xs: 600px;